nav {
    background-color: #222;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 105px;
    /* Mantener una altura constante */
    transition: all ease 0.1s;
    z-index: 20;
}

nav.blur {
    height: 105px !important;
    /* Mantener la altura constante incluso con la clase blur */
}

.div__nav__contenido {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* background-color: red; */
}

.div__nav__contenido * {}


.navbar {
    list-style: none;


    .navLink {
        color: white;
    }

}

.button-svg {
    display: none;
}

.menu .navLink {
    position: relative;
    top: -20px;
    display: block;

}

.menu .navLink:hover {
    color: wheat !important;
}

.menu .navLink::before {
    content: '';
    position: absolute !important;
    bottom: 1px;
    left: 0;
    width: 100% !important;
    height: 2px !important;
    background-color: #FF0000 !important;
    z-index: 1;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.4s;
    -webkit-transition: transform 0.4s;
    -moz-transition: transform 0.4s;
    -ms-transition: transform 0.4s;
    -o-transition: transform 0.4s;

}

.menu .navLink:hover::before {
    transform: scaleX(1) !important;
    -webkit-transform: scaleX(1) !important;
    -moz-transform: scaleX(1) !important;
    -ms-transform: scaleX(1) !important;
    -o-transform: scaleX(1) !important;

}




.div__input__busqueda {
    width: 100%;
    position: relative;
    margin-top: 40px !important;
}

.div__input__busqueda input {
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    outline: none;
    width: 100%;
    /* Cambiado a 100% para ocupar el ancho completo */

}

.div__input__busqueda span button {
    border: none;
    background-color: #fff;
    border-radius: 0 50px 50px 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    position: relative;
    left: 250px;
    top: -44px;
    cursor: pointer;
    -webkit-border-radius: 0 50px 50px 0;
    -moz-border-radius: 0 50px 50px 0;
    -ms-border-radius: 0 50px 50px 0;
    -o-border-radius: 0 50px 50px 0;
}




.div__numeromail {
    padding: 10px;
}

.div__numeromail span {
    display: block;
    margin: 2px;
    font-size: 14px;
}

.div__numeromail i {
    margin: 0px 8px;
}


.div__numeromail a {
    text-decoration: none;
    color: #fff;
}



@media (min-width:960px) and (max-width:1261px) {
    nav {
        display: flex;

    }

    .div__nav__contenido {
        position: absolute;
        left: 0;
        height: 90px;
        /* top: 6px; */
        width: 100px;
    }

    .div__nav__contenido img {
        width: 100%;
        height: 100%;
        position: relative;
        left: 5px;
        top: 7px;
    }

    .navbar {
        display: flex;
        width: max-content;
        position: relative;
        left: -5px;
        /* background-color: red; */
    }

    .navbar .nav-item {
        margin-left: -5px;
        margin-right: -5px;
        position: relative;
        top: -30px;
        left: 110px;
    }

    .div__input__busqueda {
        width: max-content;
        position: absolute;
        margin-left: -190px;
        top: 15px;
    }

    .div__input__busqueda span button {
        /* position: absolute; */
        position: relative;
        left: 233px;
        padding-left: 10px;
    }

    .div__numeromail {
        position: absolute;
        left: 660px;
        top: -6px;
        /* background-color: red; */
        width: max-content;
        /* align-items: center; */
        text-align: center;
        /* justify-content: center; */
    }

    .div__numeromail span {
        width: max-content;
        justify-content: center;

    }
}



@media screen and (max-width:768px) {
    .button-svg {
        display: flex;
    }

    .cabecera-nav {
        width: 100%;
        display: none;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        background: red;
        height: max-content;



    }
    .cabecera-nav.isActive {
        display: flex;
    }

    .cabecera-ul {
        flex-direction: column;
        display: none;
    }


    .nav .menu .nav-item {
        margin: .5em 0;
    }
}