.div__titulo {
    left: 450px;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;

    width: fit-content;

}

h1 {
    border-bottom: 1px solid #e3e3e3;
    padding: 2px;
    font-weight: 300;
    justify-content: center;
    display: flex;
    text-transform: uppercase;
    color: #ffffffef;
    /*border: 1px solid ;
    */align-items: center;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transform: scaleX(1.1);
    -webkit-transform: scaleX(1.1);
    -moz-transform: scaleX(1.1);
    -ms-transform: scaleX(1.1);
    -o-transform: scaleX(1.1);
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
}



.div__titulo {}



@media (min-width:968px) and (max-width:1261px){
    
    h1{
        position:relative;
        right: 170px;
    }
}